* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
::-moz-scrollbar {
    display: none;
}
::-ms-scrollbar {
    display: none;
}

html,
body {
  height: 100%;
  background: #495057;
}
body {
  overflow: hidden;
}
label {
	font-weight: normal;
}
button {
	cursor: pointer;
}
input[type=search] {
	color: #d1d1d2;
}
content {
	width: calc(100% - 20px);
	float: right;
	padding: 10px;
}
.main {
	padding: 0;
	height: 84%;
}
header .padding {
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 10px;
}
header .left {
	width: 28%;
	float: left;
}
.center {
	width: 44%;
	float: left;
}
.search-button {
	height: 30px;
	width: 30px;
	text-align: center;
	background: #3b3b3b;
	color: #e9e9e9;
	border: none;
	border-radius: 10px;
}
.search-input {
	display: inline-block;
	width: calc(100% - 40px);
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	float: right;
	border: 0px;
	border-radius: 10px;
	margin: 0;
	background: #3b3b3b;
	color: #e9e9e9;
}
.search-input:focus {
   outline: 0;
   border: none;
}
header .right {
	width: 28%;
	float: right;
}

header .right img.avatar {
	float: right;
	margin-left: 10px;
}

/* Main Content */
content .left {
	width: 23%;
	float: left;
	overflow-y: auto;
   overflow-x: hidden;
   display: flex;
   height: 100%;
   background: #3b3b3b;
   border-radius: 15px;
   padding: 15px 0;
}
.chats {
	list-style: none;
	width: 100%;
	float: left;
	margin: 0 15px;
	line-height: 21px;
}
content .left li {
	display: inline-block;
	width: 100%;
	padding: 15px;
	padding-bottom: 23px;
	background: #343a40;
	border-radius: 15px;
	border: 2px solid #666681;
}
content .left li:hover{
	background: #665dfe;
	cursor: pointer;
}
content .left li.active {
	background: #665dfe;
}
content .left li:hover .info{
	color: #ff0000;
}
content .left .image {
	float: left;
	margin-left: 10px;
	margin-top: 8px;
	width: 50px;
	height: 50px;
}
content .left .info {
	float: right;
	width: calc(100% - 60px);
	padding-left: 10px;
}
content .left .title {
	font-size: 18px;
	margin-top: 15px;
	margin-left: 7px;
	float: left;
	width: 100%;
	font-weight: 700;
	color: #c5bbbb;
}
.last-message {
	font-size: 14px;
	color: #e3e3e3;
	margin-left: 7px;
	display: inline-block;
	max-width: 20ch;
	overflow: hidden;
	text-overflow: ellipsis;
   white-space: nowrap

}
content .center {
	width: 55%;
	float: left;
	margin-left: 170px;
	display: flex;
  	flex-direction: column;
}
content .center content {
	margin-left: 10px;
	margin-right: 10px;
}

.center .title {
	font-size: 20px;
	color: black;
	font-weight: bold;
	color: #fff6f6;
}
.center {
}
.center li {
	list-style: none;
}
.center li.self {
	float: right;
}
.center li.other {
	float: left;
}
.center li .message-conatiner {
	max-width: 450px;
}
.center li {
	margin-bottom: 15px;
}
.chat-messages {
	height: 100%;
	overflow-y: auto;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   padding-bottom: 0px;
}
.messages li {
	width: 100%;
}
.other .message-conatiner {
	margin-left: 10px;
	float: left;
}
.self .message-conatiner {
	margin-right: 10px;
	float: right;
}
.message {
	width: auto;
	padding: 20px;
	margin-bottom: 5px;
	max-width: 450px;
	color: #e9e9e9;
}

.message:after {
	clear: both;
}
.other .message {
	display: inline-block;
	float: left;
	background: #383f44;
	border-radius: 12px;
	border-bottom-left-radius: 0px;
}
.self .message {
	display: inline-block;
	float: right;
	text-align: left;
   background: #0b8bf8;
	border-radius: 12px;
	border-bottom-right-radius: 0px;
}
.image {
	margin-top: 8px;
}
.other .image {
	float: left;
}
.self .image {
	float: right;
}
.section-wrapper {
	/*display: flex;
  	flex-direction: column;*/
  	height: 100%;
}
.chat-footer {
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	background-color: #696969;
}

.chat-footer ::placeholder {
	color: #8c8c8c;
}
.message-input {
	background-color: #696969;
	border: none;
	color: #fff;
	float: left;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border-radius: 10px;
   bottom: 0;
   margin-top: auto;
}
.message-input:focus {
   outline: 0;
   border: none;
}